body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h5,
h3 {
  color: darkslateblue;
}

.center {
  margin: auto;
  width: 60%;
  border: 2px solid #7c23a5;
  padding: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}

.form-box {
  padding: 5%;
}

.row {
  padding-top: 1%;
  padding-bottom: 1%;
}

.loading-text {
  font-size: smaller;
  font-weight: bold;
  vertical-align: middle;
}
